In [2]:
import pandas as pd

In [6]:
# two main datatypes
series = pd.Series(["BMW","TOYOTA","HONDA"])

In [7]:
series

0       BMW
1    TOYOTA
2     HONDA
dtype: object

In [8]:
# series 1-dimentional

In [9]:
colors = pd.Series(["RED","BLUE","WHITE"])

In [10]:
colors

0      RED
1     BLUE
2    WHITE
dtype: object

In [11]:
# Dataframe - 2-dimentional

In [12]:
car_data = pd.DataFrame({"Car make" : series, "Color" : colors})

In [13]:
car_data

  Car make  Color
0      BMW    RED
1   TOYOTA   BLUE
2    HONDA  WHITE

In [14]:
# import data